 <section class="about py-2">
       
    <div class="container text-center">
      
      <div class="row">
       
        <div class="col-md-12">
          <h3 class="text-center text-secondary">{{aboutData.title}}</h3>
          <p>{{aboutData.subTitle}}</p>

          
        </div>
        
      </div>
      
    </div>
    </section>
 